<!DOCTYPE html>
 <head>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
  

   <title>{%block title%} سامانه جامع نت{%endblock%}</title>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'account:home' %}">صفحه اصلی</a>
              </li>
              {%if user.is_authenticated%}
              <li class="nav-item">
                <a class="nav-link" href= "{% url 'account:logout'%}">خروج از سامانه</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'net:reportform' %}">ارسال گزارش</a>
              </li>
             {%else%}
              
              <li class="nav-item">
                <a class="nav-link" href="{%url 'account:login' %}">ورود به سامانه</a>
              </li>
            
             
              
              {%endif%}
            </ul>
          </div>
        </div>
      </nav>
 </head>